@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: SFPRO;
  src: url(SF-Pro-Display-Semibold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html {
  overflow-x: hidden;
  user-select: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #ffffe9;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #ffffe9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffe9;
  opacity: 70%;
}

html,
body {
  background-color: rgb(16, 16, 17);
  backdrop-filter: blur(20px);
}

:where(li, a) {
  list-style: none;
  text-decoration: none;
}

.dragableArea {
  width: 100%;
  -webkit-app-region: drag;
  height: 65px;
  z-index: 2;
  margin: 0 auto;
  position: fixed;
}

.tools {
  width: 100%;
  height: 0px;
  border-radius: 6px 6px 0px 0px;
  /* border-bottom: solid 1px #262626; */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  background-color: #0a0a0a;
  border-right: solid 1px #262626;
  z-index: 2;
  transform: translateX(-300px);
  opacity: 0;
  transition: all 0.55s;
}

.MYDefailt {
  transform: translateX(0px);
}

.sidebarcontent {
  /* margin-top: 4rem; */
  max-width: 237px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-100px);
  opacity: 0;
  filter: blur(5px);
}

.SidebarVisible {
  transform: translateX(0px);
  opacity: 1;
  filter: blur(0px);
}

.Windowstitle {
  margin: 1.25rem 0px;
  margin-bottom: 2.25rem;
}

.icon {
  width: 36px;
  height: 36px;
  background: url(./img/PeakkSolid.svg);
  background-size: cover;
  background-position: center;
  float: left;
  margin: 8px;
}

.win-title {
  font-family: "Inter", sans-serif;
  font-weight: 360;
  font-size: 20px;
  display: inline-block;
  margin: 0;
  margin-top: 14px;
  transform: translateX(-8px);
  color: #ffffe9;
  user-select: none;
}

.sidebarlink li a {
  color: #C2C2C2;
  padding: 0.65rem 1rem;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.7rem;
  transition: all 0.3s;
}

.sidebarlink li a:hover {
  background: #ffffe9;
  color: #000;
  -webkit-text-stroke-width: 0.35px;
  font-weight: 400;
}

.sidebarlink li a:focus {
  background: #ffffe9;
  color: #000;
  -webkit-text-stroke-width: 0.65px;
  font-weight: 400;
}

#ActiveNavbar {
  background: #ffffe9;
  position: relative;
  color: #000;
  -webkit-text-stroke-width: 0.35px;
}

#ActiveNavbar ion-icon:hover {
  color: #000;
}

#ActiveNavbar:hover {
  color: #000;
  background: #ffffe9;
}

.sidebarlink ion-icon {
  font-size: 18px;
  margin-right: 0.65rem;
  transform: translateY(3px);
  color: #C2C2C2;
}

#ActiveNavbar ion-icon {
  font-size: 18px;
  margin-right: 0.65rem;
  transform: translateY(1.2px);
  color: #000;
}

/* #ActiveNavbar::after {
  content: "";
  background-color: #303031;
  width: 4px;
  height: 19px;
  border-radius: 20px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
} */

.toggleSbar {
  position: fixed;
  right: 137px;
  width: 50px;
  height: 60px;
  -webkit-app-region: no-drag;
}

.toggleSbar:hover {
  background-color: #303031;
}

.toggleSbarCon {
  position: fixed;
  transform: translate(6.5px, 11.6px);
}

/* hamburger Toggle */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 4;
  /* stroke-linecap:round; */
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  /* stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

/* login button */

.loginButton {
  position: fixed;
  -webkit-app-region: no-drag;
  height: 50px;
  right: 200px;
}

.loginButton ul {
  margin-top: 0.8rem;
}

.loginButton ul li a {
  color: #ffffe9;
  border: solid 1px #ffffe9;
  display: block;
  width: 155px;
  height: 37px;
  line-height: 35px;
  border-radius: 4px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
}

.loginButton ul li a:hover {
  color: #000;
  background-color: #ffffe9;
}